// Palette
//main
body{
    background-color: #e9eff5;
}
h2, h3{
    color: #333759;
}
p{
    color: #6b767d;;
}

$body-background-color: #e9eff5;

// Navbar
$navbar-background-color: #333759;


// Footer
$footer-background-color:#434875; 
/// 
/// 

// $main-text-color: #000000;
// $footer-text-color: #545454;
// $accent-color: #ff6b08;
// $active-btn-color: #ff6b01;
// $background-footer-color: #f7f7f7;
// $err-text-color: #ff001b;

// $color-text-modal: #8c8c8c;
// $background-theme-dark: #22272e;
// $bg-theme-dark-footer: #1d2025;
