<div class="container">
  <a class="navbar-brand" href="#">
    <img class="logo" src="{{this}}" alt="" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#Produkte"
          >Produkte</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#Service"
          >Service</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#Unternehmen"
          >Unternehmen</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#Kontakt"
          >Kontakt</a
        >
      </li>
      <li class="nav-item navvis">
        <a class="nav-link active" aria-current="page" href="#Produkte"
          >Produkte</a
        >
        <ul class="dropdown-menu dblock ">
          <li class="navvis1 dropend">
            <a class="dropdown-item" href="">Software</a>
            <ul class=" dropdown-menu dblock1 flex-column">
              <li><a class="dropdown-item" href="">Medical Office</a></li>
              <li><a class="dropdown-item" href="">Digitale .......</a></li>
              <li><a class="dropdown-item" href="">Pacs</a></li>
              <li><a class="dropdown-item" href="">E-mail ....</a></li>
              <li><a class="dropdown-item" href="">OMS-System</a></li>
            </ul>
          </li>
          <li  class="navvis1">
            <a class="dropdown-item" href="">Hardware</a>
            <ul class=" dropdown-menu dropend dblock1 flex-column">
              <li><a class="dropdown-item" href="">Befund ....</a></li>
              <li><a class="dropdown-item" href="">PC' server</a></li>
              <li><a class="dropdown-item" href="">Netwerk technick</a></li>
              <li><a class="dropdown-item" href="">Datensicherung</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <!-- <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->
  </div>
</div>
